/* Step 1  for logo movement and animation*/

#logo{

    animation: move 5s;

}

@keyframes move{

    from{width: 25px; opacity: 0;}
    to{width: 475px; opacity: 1;}
}

/* Default Mode */

/* Step 2 for body text on page */
body{

    font-family: 'Poppins', serif;
    background: url('../images/concrete_seamless.png'), #f1f1f1;

}

/* Step 3 for page header */
header{

    display: flex;
    flex-direction: column;
    align-items: center;

}

/* Steps 4 - 5 for nav_link color and display*/
.nav_links{

    display: flex;
    flex-direction: column;

}

a{

    color: #0000ff;

}

a:visited{

    color: #0000ff;

}

/* Steps 6 - 8 wanted to address cards and headers first before price inside of them */
.card > header{

    background-color: #288088;
    border: solid 2px #45ADAD;
    border-radius: 50px 50px 0 0;
    padding: 20px 0 20px 0;

}

.card{

    flex-basis: 450px;
    border-radius: 50px 50px 0 0;

}

.pricing{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;

}

/* Step 9 for full gallery (interchangeable with 10) */
.gallery{

    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;

}

/* Step 10 for gallery img class following entire gallery class */
.gallery > img{

    width: 300px;
    margin: 10px;
    border: 10px solid #50c7c7;

}

@media screen and (min-width: 900px) {

    /* Step 11 for header, nav_links and logo requirements */
    header{

        flex-direction: row;
        justify-content: space-between;
        display: flex;
        align-items: center;

    }

    .nav_links{

        flex-direction: row;
        justify-content: flex-end;

    }

    #logo{

        align-self: flex-start;

    }

    /* Step 12 for pricing and card classes */
    .pricing{

        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;

    }

    .card{

        flex-basis: 275px;

    }

    /* Step 13 for keeping header sticky above the page width px limit */
    body > header{

        position: sticky;
        top: 0;

    }

}

@media (prefers-reduced-motion: reduce){
    /* Step 14 for reduced motion no logo movement */
    #logo{

        animation: none;

    }

}

@media print{
    /* Steps 15 & 16 for body work */
    body{

        background-image: none;
        font-family: Arial, Helvetica;

    }
    /* Step 17 to match reference image */
    .nav_links{

        flex-direction: row;
        justify-content: space-evenly;
    }

    .nav_links li{

        margin: 0 80px;

    }

    /* Step 18 for pricing class */
    .pricing{

        display: flex;
        flex-wrap: nowrap;
        align-items: flex-end;
        flex-direction: row;

    }
    /* Step 19 for card class */
    .card{

        border: solid 2px #45ADDD;
        flex-basis: 325px;

    }

    /* Step 20 reminder - no part of boundary should be visible (Class or ID) */

    #gallery{

        display: none;

    }

    .gallery{

        display: none;

    }

    /* Step 21 the bonus thumbs up special */
    .card li:nth-of-type(2)::after{

        content: "👍"

    }

}

