/* Step 1 */

#logo{

    animation: move 5s;

}

@keyframes move{

    from{width: 25px; opacity: 0;}
    to{width: 475px; opacity: 1;}
}

/* Default Mode */

body{

    font-family: 'Poppins', serif;
    background: url('../images/concrete_seamless.png'), #f1f1f1;

}

header{

    display: flex;
    flex-direction: column;
    align-items: center;

}

.nav_links{

    display: flex;
    flex-direction: column;

}

a{

    color: #0000ff;

}

a:visited{

    color: #0000ff;

}

.card > header{

    background-color: #288088;
    border: solid 2px #45ADAD;
    border-radius: 50px 50px 0 0;
    padding: 20px 0 20px 0;

}

.card{

    flex-basis: 450px;
    border-radius: 50px 50px 0 0;

}

.pricing{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;

}

.gallery{

    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;

}

.gallery > img{

    width: 300px;
    margin: 10px;
    border: 10px solid #50c7c7;

}

@media screen and (min-width: 900px) {

    header{

        flex-direction: row;
        justify-content: space-between;
        display: flex;
        align-items: center;

    }

    .nav_links{

        flex-direction: row;
        justify-content: flex-end;

    }

    #logo{

        align-self: flex-start;

    }

    .pricing{

        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;

    }

    .card{

        flex-basis: 275px;

    }

    body > header{

        position: sticky;
        top: 0;

    }

}

@media (prefers-reduced-motion: reduce){

    #logo{

        animation: none;

    }

}

@media print{

    body{

        background-image: none;
        font-family: Arial, Helvetica;

    }

    nav{

        width: 100%;
    }

    .nav_links{

        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-evenly;

    }

    .pricing{

        display: flex;
        flex-wrap: nowrap;
        align-items: flex-end;
        flex-direction: row;

    }

    .card{

        border: solid 2px #45ADDD;
        flex-basis: 325px;

    }

    /* Step 20 reminder - no part of boundary should be visible (Class or ID) */

    #gallery{

        display: none;

    }

    .gallery{

        display: none;

    }


    .card li:nth-of-type(2)::after{

        content: "👍"

    }

}

